/* style.css */

body {
    font-family: 'Goudy Bookletter 1911', serif;
    margin: 0;
    padding: 0;
}

.logo {
    width: 125px;
    height: 70px;
    background-image: url('../images/svgviewer-output.svg'); /* Specify your default logo image here */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    opacity: 1;
    position: relative;
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.logo:hover {
    transform: scale(1.25); /* Scale the logo by 10% on hover */
}

/* Rest of your CSS */

nav {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2); /* Set the opacity of the border */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Set the opacity of the border */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar ul li.center a {
    color: red; /* Change text color to red */
}

nav ul li {
    display: inline;
    margin: 0 15px; /* Adjust the left and right margins */
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px; /* Adjust the font size */
    transition: color 0.3s, text-decoration 0.3s, font-size 0.3s; /* Include font-size in the transition */
}

nav ul li:hover {
    color: #000;
    text-decoration: underline;
    transform: scale(1.5); /* Scale the li elements by 10% on hover */
}

nav ul li:hover a {
    font-size: 20px; /* Adjust the font size on hover */
}

.content {
    padding: 20px;
    text-align: center;
}

.content h2 {
    color: #333;
}

.content p {
    color: #666;
    line-height: 1.6;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
